@charset "UTF-8";
@font-face {
    font-family:'Bebas Neue';
    src: url(BebasNeue-Regular.otf) format('opentype');
}
:root{
    --titulo:'Dancing Script', cursive;
    --texto:'Bebas Neue';
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*------------------HEADER------------------*/
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
   
    
}
header h1{
    color:white;
    font-family: var(--texto);
    padding: 10px;
    font-weight: normal;
    
}
header a{
    text-decoration: none;
    color: gold;
    font-weight:normal;
    font-family:var(--texto);
    padding: 5px;
}

header nav{
    background-color: black;
    padding: 5px;
    text-align: center;
}
header nav a{
    text-decoration: none;
    font-family: var(--texto);
    padding: 5px 15px;
    font-size:1.4rem;
    font-weight: normal;
}
header nav a:hover{
    background-color: rgb(44, 43, 43);
}
/*--------------------MAIN-----------------*/
main{
    width: 100%;
}

/*PAGINA HOME*/
section.apresentaçao{
    height: 40rem;
    background-image: url(imagens/apresentaçao00.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
section.informaçoes{
    max-width: 600px;
    height: 15rem;
    display: block;
    margin: 2rem auto;
    padding: 10px;
    background-position: right center;
    background-size: 50% 100% ;
    background-repeat: no-repeat;
    background-color: rgb(198, 195, 195);
    border-radius: 1rem;
    
}
.informaçoes p{
    font-family: var(--texto);
    margin: 10px;
    max-width: 40%;
    max-height: 90%;
    font-size: 100%;
}
.informaçoes h2{
    font-family: var(--texto);
    margin: 10px;
    max-width: 40%;
}
.informaçoes#espaço{
    background-image: url(imagens/espaço.png);
}
.informaçoes#profissionais{
    background-image: url(imagens/apresentação01.png);
}
.informaçoes#pratos{
    background-image: url(imagens/apresentação03.png);
}
/*---------------------------------------------*/
/*---------TITLE-------------*/
section.title{
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}
section#titleLanches{
    background-image: url(imagens/lanchestitulo.jpg);
}
section#titleSobremesa{
    background-image: url(imagens/docestitulo.jpg);
}
section#titlePratos{
    background-image: url(imagens/pratosapresentaçao.jpg);
}
section.title h1{
    font-family: var(--titulo);
    background-color: black;
    color: gold;
    border-radius: 3rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
/*-----------VENDAS-----------*/
section.vendas{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
section.vendas div.produto{
    border-radius: 1rem;
    width: 30rem;
    height: 15rem;
    background-color: rgb(198, 195, 195);
    display: flex;
}
div.produto div{
    display: flex;
    flex-direction: column;
    font-family: var(--titulo);
    gap: 0.5rem;
    padding: 1rem;
    width: 50%;
    height: 100%;
}
.produto div h2{
    font-family: var(--texto);
    font-size: 1.8rem;
    font-weight: normal;
}
.produto div p{
    font-size: 1.2rem;
    font-family: var(--texto);
}
.produto div p strong{
    font-family: var(--titulo);
}
div.produto img{
    border-radius: 0rem 1rem 1rem 0rem;
    width: 50%;
    height: 100%;
}









/*---------------FOOTER---------------*/
footer{
    background-color: rgb(19, 19, 19);
    text-align: center;
    padding: 20px;
    color: white;
}
footer ul,li{
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 2px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin-left: 2px;
    padding: 5px;
    font-size: 0.9em;
    display: block;
    margin: a;
}
footer a:hover{
    text-decoration: underline;
}
